# Created by .ignore support plugin (hsz.mobi)
!CLAUDE.md
.project
.settings/
.classpath
target/
test-output/
*.zip
*.odp
*.pdf
*.ipr
*.iws
*.iml
.idea/
VAADIN/
bashrc
code-review/
output.log
test/results/*.log
test/results/*.txt
