export OPENAI_KEY=
export TMUXAI_OPENROUTER_API_KEY=
export NVD_API_KEY=
export DB_USERNAME=
export DB_PASSWORD=
export DB_NAME=
export PGADMIN_EMAIL=
export PGADMIN_PASSWORD=
export GPG_PUBKEY_URL=
export SSH_SK_VERIFY=
export JAR_PKCS11_MODULE=
export JAR_PKCS11_ALIAS=
