# $HOME/.bashrc: executed by bash(1) for non-login shells.
# see /usr/share/doc/bash/examples/startup-files (in the package bash-doc)
# for examples

# If not running interactively, don't do anything
case $- in
    *i*) ;;
      *) exit 0;;
esac

if [ -d $HOME/.git-configuration/ ]; then
    . $HOME/.git-configuration/main.sh
elif [ -d $HOME/.koziolek-configuration/ ]; then
    . $HOME/.koziolek-configuration/main.sh
else
    echo 'Nie ma konfiguracji! Żyj w biedzie!'
fi
